{% extends 'base.html' %}

{% block title %} Home {% endblock title %}
{% block homeactive %} active {% endblock homeactive %}
{% block body %}
<div class="p-5 mb-4 bg-light rounded-3">
  <div class="container-fluid py-5">
    <h1 class="display-5 fw-bold">Welcome to The blog!</h1>
    <p class="col-md-8 fs-4">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Odio tenetur iure minus similique voluptate ea
      itaque esse placeat, velit recusandae natus laboriosam alias, quos expedita aliquid beatae fuga ratione illo
      voluptas quis! Vel doloremque eum libero, rerum perspiciatis tempore atque.</p>
      <a class="btn btn-primary btn-lg" role="button" href="/blog/" type="button">Go to blog posts</a>
  </div>
</div>

<div class="container">
    <h2>Popular blogposts:</h2>
    {% for post in allPosts %}
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-primary">Article by {{post.author}}</strong>
          <h3 class="mb-0">{{post.title}}</h3>
          <div class="mb-1 text-muted">{{post.timestamp.date}}</div>
          <p class="card-text mb-auto">{{post.content| truncatechars:500}}</p>
          <a href="/blog/{{ post.slug }}">Continue reading</a>
        </div>
        <div class="col-auto d-none d-lg-block">
          <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
        </div>
      </div>
    {% endfor %}
</div>

{% endblock body %}