{% extends 'base.html' %}

{% block title %} Search Results {% endblock title %}
{% block blogactive %} active {% endblock blogactive %}
{% block favicon %}
<link rel="icon" href="/static/favicon/search.svg" type="image/svg+xml" sizes="16x16">{% endblock favicon %}

{% block js %}
<script>
  let previews = document.getElementsByClassName('preview');
  const trunc_lim = 500;
  Array.from(previews).forEach((element) => {
    console.log(element.innerText)
    if (element.innerText.length > trunc_lim) {
      element.innerHTML = element.innerText.slice(0, 500) + "...";
    }
    else {
      element.innerHTML = element.innerText.slice(0, 500);
    }
  });
</script>
{% endblock js %}

{% block body %}
<div class="container my-4">
    <h2>Search results for '{{query|truncatechars:40}}':</h2>

    <!-- length of allPosts !=0 -->
    {% if allPosts %}
    {% for post in allPosts %}
    <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
            <strong class="d-inline-block mb-2 text-primary">Article by {{post.author}} ({{post.views}} views)</strong>
            <h3 class="mb-0">{{post.title}}</h3>
            <div class="mb-1 text-muted">{{post.timestamp.date}}</div>
            <p class="card-text mb-auto">
            <div class="preview">{{post.content|safe}}</div>
            </p>
            <a href="../blog/{{post.slug}}">Continue reading</a>
        </div>
        <div class="col-auto d-none d-lg-block">
            <img src="https://source.unsplash.com/random/200x300/?wallpaper${{post.sno}}" width="200" height="100%"
                alt="image for the post">
        </div>
    </div>
    {% endfor %}
    {% else %}
    <p>No search results</p>
    Your search - <strong>{{query|truncatechars:40}}</strong> - did not match any documents.<br>
    Suggestions:
    <ul>
        <li>Make sure that all words are spelled correctly.</li>
        <li>Try fewer keywords.</li>
    </ul>
    {% endif %}
</div>
{% endblock body %}